<eos-container header="Text" pad-top="true">
    <input ng-model="effect.text" type="text" class="form-control" id="serial-text-setting" placeholder="Enter text">
    <eos-collapsable-panel show-label="Show Variables" hide-label="Hide Variables">
        <h4>Interactive & Chat</h4>
        <ul>
            <li><b>$(user)</b> - Replaced by the name of the person running the button or using the command.</li>
            <li><b>$(text)</b> - Replaced by the interactive button text or the chat command ID.</li>
            <li><b>$(cost)</b> - Replaced by the cost of the command or button.</li>
            <li><b>$(cooldown)</b> - Replaced by the cooldown of the command or button.</li>
        </ul>
        <h4>Chat Commands Only</h4>
        <ul>
            <li><b>$(arg1)</b> - Replaced by the argument provided after a chat command. For example $(arg1) pulls the first word after the command, but $(arg5) would pull the fifth word.</li>
        </ul>
    </eos-collapsable-panel>
</eos-container>

